@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
    <html>
    <head>
        <title>Pagina inicial</title>
    </head>
    <body>
    
    </body>
    </html>
<div class="text-center">
    <h1 class="title" id="titulo">Bem Vindo</h1>
</div>
