@{
    ViewData["Creator"] = "Dhyego Tourinho Silva";
}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebPage</title>
    </head>
    <body>
   
    <div class="container">
        <div class="login-container">

        <div class="title-container" style="align-content:center; text-align:center">
            <h1 class="title">Bem vindo a WebPage</h1>
        </div>
        
        <div class="forms-container">
            <form action="/" method="post" class="forms">
                <input type="text" name="email" value="" placeholder="Digite seu email"/>     
                <input type="text" name="senha" value="" placeholder="Digite sua senha"/>
                <div class="actions">
                <input type="submit" name="criar-conta" value="Criar Conta"/>
                <input type="button" name="entrar" value="Entrar"/>
                </div>
            </form>
            
        </div>
    
        </div>
    </div>
    </body>
    </html>